AC3
PA3
CH1
CH2
CH6
CH7
PR1
PR2
PR3
PR4
PR7
AC3.csv
PA3.csv
CH\ 1.csv
CH2.csv
CH6.csv
CH7.csv
PR1.csv
PR2.csv
PR3.csv
PR4.csv
PR5.csv
PR6.csv
PR7.csv
tables.csv
__pycache__
pdfExtractor/__pycache__
pdfExtractor/tables2.csv
.venv
